@{
    WebSecurity.Logout();
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Cerrar sesion</title>
    </head>
    <body>
            <h1>Cerrar sesion</h1>
            <p>Hemos cerrado tu sesion en esta web</p>
        <p> <a href="@Href("~/Default")">Volver a la p&aacute;gina inicial del Algemesí CF </a> </p>
    </body>
</html>
